#slider {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: var(--text);
  text-transform: capitalize;
}

#description {
  font-weight: 300;
}

#description::first-letter {
  text-transform: capitalize;
}

#window {
  width: 400px;
}

#wrapper {
  width: 300%;
  display: flex;
  align-items: center;
  transition: all .25s ease-out;
}

.slide {
  width: 33.333%;
  transition: all .25s ease-out;
  transform: trans;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 200px;
}

.thumbnail img {
  object-fit: contain;
}

#counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 1.25rem;
  color: var(--text);
  cursor: pointer;
  transition: all .25s ease-out;
}

.arrow:hover {
  transform: scale(1.25);
  color: var(--primary);
}

.number {
  text-align: center;
  width: 30px;
  color: var(--text);
  user-select: none;
}

#current {
  font-size: 1.25rem;
  font-weight: 700;
}