#slider {
  border: 1px solid red;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: var(--text);
}

#wrapper {
  width: 100%;
}

.thumbnail {
  position: relative;
  height: 200px;
}

.thumbnail img {
  object-fit: contain;
}