:root {
  --bg: #EDF2F4;
  --bgAlt: #F3F4F7;
  --text: #2B2D42;
  --textAlt: #525366;
  --primary: #CC6161;
  --corner: 8px;
  --glassColor: rgba(43, 45, 66, .66);

  --headerHeight: 48px;

  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--textAlt);
}

a {
  color: var(--bg);
  text-decoration: none;
}

.container {
  max-width: 1000px;
  /* border: 1px solid red; */
}