:root {
  --bg: #FFF;
  --bgAlt: #FCFCFD;
  --text: #2F324B;
  --textAlt: #686B82;
  --primary: #D65757;
  --corner: 8px;
  --glassColor: rgba(47, 50, 75, .33);
  --glassBlur: blur(4px);

  --headerHeight: 48px;

  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2 {
  color: var(--text);
}

h1,
h2,
h3,
p {
  margin: 0;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--textAlt);
}

a {
  color: var(--bg);
  text-decoration: none;
}

.container {
  max-width: 1000px;
  /* border: 1px solid red; */
}