:root {
  --bg: #EDF2F4;
  --bgAlt: #F3F4F7;
  --text: #2B2D42;
  --textAlt: #525366;
  --primary: #CC6161;
  --corner: 8px;

  --headerHeight: 48px;

  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--text);
  color: var(--bg);
}

a {
  color: var(--bg);
  text-decoration: none;
}