.page {
  border: 1px solid red;
  height: 100%;
}

#header {
  padding-top: 64px;
  background-color: var(--text);
  color: var(--bg);
}

#header,
#focus,
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
}